body {
  margin: 20px;
}
a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
}
#header_btns > button {
  display: block;
}
#header_btns {
  display: flex;
  align-items: center;
}

main {
  border: 3px solid black;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main_header {
  display: flex;
  justify-content: center;
  align-items: center;
}
#main_header > h2,
select {
  margin-right: 20px;
}
#main_header select {
  width: 100px;
  height: 30px;
}

#main_main {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#main_main > div {
  margin: 10px;
  width: 40%;
  display: grid;
  grid-template-rows: 1fr 5fr;
}
#main_main > div > h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
#main_main > div > div {
  margin: 15px;
  border: 1px solid black;
  border-radius: 30px;
}
#goal > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#challenge > div > div {
  border-bottom: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  padding: 15px;
}
#challenge > div > div:last-child {
  border-bottom: none;
}
#challenge > div > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  justify-content: space-around;
}
footer > ul {
  list-style: none;
}
footer > ul > li {
  margin: 5px;
  font-size: smaller;
  color: gray;
}
