.challenge {
  border-bottom: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.challenge:last-child {
  border: none;
}
.challenge input {
  margin: 0;
}
.challenge > * {
  display: flex;
  justify-content: center;
  align-items: center;
}

.create {
  width: 100%;
}
