.challenge {
  border-bottom: 1px solid black;
}
.challenge:last-child {
  border: none;
}

.withchallenge {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.withchallenge input {
  margin: 0;
}

.nochallenge {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.withchallenge > *,
.nochallenge > * {
  display: flex;
  justify-content: center;
  align-items: center;
}
