.goal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.goal > h3 {
  margin: 0;
}

.goal > div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  border-radius: 30px;
  width: 80%;
  height: 85%;
}

.goal > div > h3 {
  font-size: x-large;
}

.goalRUD {
  display: flex;
  position: absolute;
  right: 5%;
  bottom: 5%;
}

.create_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.create_form > *:not(:last-child) {
  margin-bottom: 10%;
}
.create_form > textarea {
  width: 60%;
  height: 40%;
  font-size: 20px;
}
