.notodo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.notodo > button {
  display: block;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.todo > div > h5 {
  margin: 0;
}
.todo > h2,
.todo > div {
  margin-right: 20px;
}
